@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding:0;
    font-family: "Poppins",sans-serif;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    max-height: 72px;
}

nav > ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover{
    font-weight: 600;
    transform: scale(1.05);
}

button{
    padding:8px 15px;
    border-radius: 5px;
    border: none;
    margin-left:10px;
    background: linear-gradient(45deg, #ff4848, #ff7e7e, #ff4848);
    color:azure;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
}
button:hover{
    transform: scale(1.1);

}

/* Hero */

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    padding: 0 8rem;
}

.hero-content h1{
    font-size: 3.2rem;
    font-weight: 1000;
}

.brand-icons img{
    margin-right: 10px;
}